<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/info" method="post">
    <table>
      <tr>
        <th>Text</th>
      </tr>
      <tr>
        <td><input type="text" name="text"></td>
      </tr>
      </table>
      <br>
      <table>
        <tr>
          <td></td>
          <td><button>send mail</button></td>
        </tr>
      
      </table>

      <p style="color: red; font-weight: bold;"><%=status%></p>
  </form>
</body>
</html>