<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/login" method="post">
    <table>
      <tr>
        <th>Email</th>
        <th>Password</th>
      </tr>
      <tr>
        <td><input type="text" name="Email"></td>
        <td><input type="text" name="Password"></td>
      </tr>
      </table>
      <br>
      <table>
        <tr>
          <td></td>
          <td><button>Login</button></td>
        </tr>
      
      </table>

  </form>
</body>
</html>